* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100vw;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 1%), 0px 1px 10px 0px rgb(0 0 0 / 1%);;
}

.header > img {
    width: 40px;
    cursor: pointer;
}

.nav_bar > ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav_bar > ul > li {
    list-style: none;
}

.nav_bar > ul > li > a {
    text-decoration: none;
    font-weight: 600;
}

.nav_bar > ul > li > a:hover {
    text-decoration: underline;
}

.main_content {
    padding: 80px 0 0;
}

.main_content > h2 {
    text-align: center;
    margin-bottom: 50px;
    color: purple;
}

.main_content > img {
    width: 100vw;
}

.top_content, .bottom_content {
    margin: 40px;
    line-height: 25px;
    text-align: center;
}

footer > h6 {
    text-align: center;
    padding: 20px
}

/* -------STYLING FOR PRODUCTS------- */

.main_product {
    margin: 40px;
}

.text_product > h2 {
    color: purple;
    margin-bottom: 10px;
}

.text_product > h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 80px;
}

.product_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 40px;
}

.product_container {
   text-align: center;
   border: 1px solid purple;
   background: rgb(184, 30, 184);
   border-radius: 10px;
   padding: 10px;
   max-width: 500px;
   cursor: pointer;
   color: #FAFAFA;
}

.product_container > img {
    width: 324px;
    height: 324px;
    object-fit: cover;
}
